# https://github.com/browserslist/browserslist#readme

[production]
>= 0.5%
last 2 major versions
not dead
Chrome >= 60
Firefox >= 60
Firefox ESR
iOS >= 12
Safari >= 12
not Explorer <= 11

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
