@use 'sass:math';

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  font-size: calc(10px + 2vmin);

  &__logo {
    height: 36vmin;
    pointer-events: none;

    @at-root {
      @media (prefers-reduced-motion: no-preference) {
        & {
          animation: app-logo-bounce 2s infinite alternate;
        }
      }
    }
  }

  @at-root [data-bs-theme='light'] &__bs-theme-toggle {
    .bi-sun-fill {
      display: none;
    }
  }

  @at-root [data-bs-theme='dark'] &__bs-theme-toggle {
    .bi-moon-stars-fill {
      display: none;
    }
  }
}

@keyframes app-logo-bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}
